.content{
    background-repeat: no-repeat;
    position: absolute;
    top: 140px;
    left: 10%;
    right: 10%;
    height: 60%;
}
.content-container{
    position: absolute;
    left: 10%;
    right: 10%;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-container{
    height: 400px;
    display:block;
    margin:auto;
    opacity: 0.1;
}
.text-center{
    display:block;
    margin: auto
}