.navbar{
    position: absolute;
    top: 100px;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;

}
li{
    display: inline-grid;
    padding: 10px;
    margin-top:8px;
    margin-left: 20px
}
li:hover{
    background: #db2c1c;
    border-radius: 20px 0 20px 0; 
    box-shadow: 0 0 10px black;


}